.addPageBody {
    height: 70vh;
    font-family: "Caveat";
    background-image: url("https://images.unsplash.com/photo-1514593214839-ce1849100055?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.addPageBody form {
    margin-top: 120px;
}
